
/* Typical Device Breakpoints
-----------------------------





*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #2dc44d, #dde7a9);
    }
    section#login {
        width: 90vw;
        background: #9FE29F;
    }

    section#login > div#imagem {
        background: rgb(159, 226, 159) url(../imagens/yoshi.png);
        float: right;
        background-size: contain;
        background-position: center ;
        background-repeat: no-repeat;
        width: 45%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 55%;
    }
    
    section#login > div#formulario > h1 {
        font-size: 2em;
        text-align: center;
    }

    section#login > div#formulario > p {
        margin-top: 3.5vw;
        font-size: 1.5em;
    }

    div.campo > span {
        color: #3bad4ece;
        
    }

    div.campo > input {
        width: 65%;
        height: 2em;
        font-size: 1em;
        border: 1px solid #3bad4ece;
        border-radius: 5px;
    }
    
    form > input[type=submit] {
        display: block;
        font-size: 1em;
        width: 100%;
        height: 40px;
        background-color: #75c561;
        color: white;
        border: 1px solid #3bad4ece;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 4vh;
    }

    form > input[type=submit]:hover {
        background-color: #3bad4ece;
        transition: 0.5s;
        block-size: 3em;
    }

    form > a.botao {
        display: block;
        text-align: center;
        width: 100%;
        height: 40px;
        background-color:#75c561;
        color: aliceblue;
        border: 1px solid #3bad4ece;
        border-radius: 5px;
        text-decoration: none;
        margin-top: 0.5vh;
    }

    form > a.botao:hover {
        background-color: #3bad4ece;
        transition: 0.5s;
        block-size: 3em;
    }

    form > a.botao > span {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to bottom, #f12b24 , #e9d251 )
        ;
    }
    
    section#login {
        width: 990px;
        background-color: #d12718;
    }

    section#login > div#imagem {
        float: right;
        background: #d12718 url(../imagens/Diddy_Kong.png);
        background-size: contain;
        background-position: center ;
        background-repeat: no-repeat;
        width: 50%;
        height: 100%;
    }
    
    section#login > div#formulario {
        float: right;
        width: 50%;
    }

    section#login > div#formulario > h1 {
        font-size: 2em;
        text-align: center;
    }

    section#login > div#formulario > p {
        margin-top: 3vw;
        font-size: 1.5em;
    }
    
    div.campo > span {
        color: #ED7F3A;
        
    }

    div.campo > input {
        width: 65%;
        height: 2em;
        font-size: 1em;
        border: 1px solid #ce1010ce;
        border-radius: 5px;
    }

    form > input[type=submit] {
        display: block;
        font-size: 1em;
        width: 100%;
        height: 40px;
        background-color: #f03737;
        color: white;
        border: 1px solid #ce1010ce;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 4vh;
    }
    
    form > input[type=submit]:hover {
        background-color: #EF5D31;
        transition: 0.5s;
        block-size: 2.75em;
    }
    
    form > a.botao {
        display: block;
        text-align: center;
        width: 100%;
        height: 40px;
        background-color: #f03737;
        color: aliceblue;
        border: 1px solid #ce1010ce;
        border-radius: 5px;
        text-decoration: none;
        margin-top: 0.5vh;
    }
    
    form > a.botao:hover {
        background-color: #EF5D31;
        transition: 0.5s;
        block-size: 2.75em;
    }
    
    form > a.botao > span {
        font-size: 1.5em;
    
    }
}