/* 
    Paleta de Cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #2e2633;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to top, #ff38ad, #f1ada2)
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;

    background-color: #F9B4B7;
    width: 285px;
    height: 550px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.767);

}

section#login > div#imagem {
    display: block;
    background: #2e2633 url(../imagens/kirby.jpg);
    background-size: cover;
    height: 200px;
    background-position: center center;
}

section#login > div#formulario {
    display: block;
    padding: 10px;

}

section#login > div#formulario > h1 {
    font-size: 1.5em;
    text-align: center;
}

section#login > div#formulario > p {
    margin-top: 2vw;
    margin-bottom: 1vw;
    font-size: 1em;
}

div.campo > label {
    display: none;
}

div.campo > input {
    width: 80%;
    height: 2em;
    font-size: 1em;
    border: 1px solid #f89ca0;
    border-radius: 5px;
}

div.campo > span {
    color: #df699a;
    
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #df699a;
    color: white;
    border: 1px solid #db6fd2ce;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 4vh;
}

form > input[type=submit]:hover {
    background-color: #d42d8f;
    transition: 0.5s;
    block-size: 2.75em;
}

form > a.botao {
    display: block;
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: #df699a;
    color: aliceblue;
    border: 1px solid #db6fd2ce;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 0.5vh;
}

form > a.botao:hover {
    background-color: #d42d8f;
    transition: 0.5s;
    block-size: 2.75em;
}

form > a.botao > span {
    font-size: 1.5em;

}